<div class="container profile">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Edit your profile
            </div>

            <div class="panel-body">
                <%= render 'form' %>
            </div>
        </div>
    </div>
</div>
<%= render 'shared/banner' %>
