<div class="panel panel-primary">
  <div class="panel-heading">
    <%= @profile.full_name %>
  </div>

  <div class="panel-body">
    <p><%= @profile.bio %></p>
    <%= link_to("Your Orders", orders_path) %>
  </div>

</div>
