<div class="main">
  <%= form_tag do %>
    <table style="width:100%">
      <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Price</th>
      </tr>
    <% @shopping_cart[:products].each_with_index do |product, i| %>
      <tr>
        <td><%= product[:name.to_s] %></td>
        <td><%= @shopping_cart[:amounts][i] %></td>
        <td><%= product[:price.to_s] %></td>
      </tr>
    <% end %>
    </table>

  <% end %>
</div>
