
<div class="alert">
  <% if alert %>
    <div class="container">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="text-center">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    Oops:
                    <small><%= alert %>
                        <b></b>
                    </small>
                </h3>
            </div>
        </div>
    </div>
    <% end %>
</div>


<div class="notice">
  <% if notice %>
    <div class="container">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="text-center">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    Success:
                    <small>
                        <b><%= notice %></b>
                    </small>
                </h3>
            </div>
        </div>
    </div>
  <% end %>
</div>
