
<div class="alert">
  <% if !alert.nil? %>
    <div class="container">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="text-center">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <%= alert %>
                </h3>
            </div>
        </div>
    </div>
    <% end %>
</div>


<div class="notice">
  <% if !notice.nil? %>
    <div class="container">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="text-center">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>

                    <small>
                        <b><%= notice %></b>
                    </small>
                </h3>
            </div>
        </div>
    </div>
  <% end %>
</div>
