<div id="custom-search-input">
    <form class="input-group col-md-12" action="<%= products_path %>">
        <input type="text" id="search" name ="search" class="search-query form-control" placeholder="Lesson, JS, Photoshop, Ruby"/>
        <span class="input-group-btn">
            <button class="btn btn-danger" type="submit">
                <span class="search glyphicon glyphicon-search"></span>
            </button>
        </span>
    </form>
</div>
