// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper{
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-top: 50px;
}

.categories{
  width: 75%;
  height: auto;
  margin-top:25px;
  justify-content: flex-start;
}

.categories a{
  width: 100%;
  display: block;
  border-bottom: 1px solid rgb(0, 0, 0);
  text-decoration: none;
}
.categories h1{
  color: rgb(0, 0, 0);
}
.categories .products{
  width: 100%;
  height: auto;
  overflow-y: visible;
  overflow-x: scroll;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 25px;
  margin-top: 10px;
  padding: 1px;
  flex-wrap: nowrap;
}
