// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
    margin: 24px;
    display: flex;
    flex-direction: column;
}

.title {
    margin-bottom: 24px;
}

.title .btn {
    margin-left: 12px;
    margin-bottom: 6px;
}

.photos-container {
    overflow-x: scroll;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.image {
    overflow: hidden;
    margin-right: 24px;
    width: 300px;
    object-fit: cover;
    height: 300px;
}

.info-container {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.info {
    width: 300px;
}

.info-container .categories {
    margin-left: 24px;
    margin-top: 0px;
    width: 300px;
}

.add-to-shopping-cart {
    width: 300px;
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.bs-calltoaction.bs-calltoaction-default.offline, .product.offline{
  background-color: rgb(139, 89, 222);
}
.bs-calltoaction.bs-calltoaction-default.online, .product.online{
  background-color: rgb(13, 149, 135);
}
.bs-calltoaction.bs-calltoaction-default.books, .product.books{
  background-color: rgb(151, 238, 158);
}

.bs-calltoaction.bs-calltoaction-default .btn-default{
  background-color: rgba(255,255,255, 0.1);
}
.bs-calltoaction.bs-calltoaction-default .btn-default:hover{
  background-color: rgba(0,0,0, 0.1);
}
// Bootstraap

.bs-calltoaction{
    position: relative;
    width:auto;
    padding: 15px 25px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

    .bs-calltoaction > .row{
        display:table;
        width: calc(100% + 30px);
    }

        .bs-calltoaction > .row > [class^="col-"],
        .bs-calltoaction > .row > [class*=" col-"]{
            float:none;
            display:table-cell;
            vertical-align:middle;
        }

            .cta-contents{
                padding-top: 10px;
                padding-bottom: 10px;
            }

                .cta-title{
                    margin: 0 auto 15px;
                    padding: 0;
                }

                .cta-desc{
                    padding: 0;
                }

                .cta-desc p:last-child{
                    margin-bottom: 0;
                }

            .cta-button{
                padding-top: 10px;
                padding-bottom: 10px;
            }

@media (max-width: 991px){
    .bs-calltoaction > .row{
        display:block;
        width: auto;
    }

        .bs-calltoaction > .row > [class^="col-"],
        .bs-calltoaction > .row > [class*=" col-"]{
            float:none;
            display:block;
            vertical-align:middle;
            position: relative;
        }

        .cta-contents{
            text-align: center;
        }
}



.bs-calltoaction.bs-calltoaction-default{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.bs-calltoaction.bs-calltoaction-primary{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.bs-calltoaction.bs-calltoaction-info{
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.bs-calltoaction.bs-calltoaction-success{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.bs-calltoaction.bs-calltoaction-warning{
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.bs-calltoaction.bs-calltoaction-danger{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.bs-calltoaction.bs-calltoaction-primary .cta-button .btn,
.bs-calltoaction.bs-calltoaction-info .cta-button .btn,
.bs-calltoaction.bs-calltoaction-success .cta-button .btn,
.bs-calltoaction.bs-calltoaction-warning .cta-button .btn,
.bs-calltoaction.bs-calltoaction-danger .cta-button .btn{
    border-color:#fff;
    background-color: none;
}
