// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
    margin: 24px;
    display: flex;
    flex-direction: column;
}

.image {
    width: 150px;
    height: 150px;
}
