 <!-- itinerating all the categories -->
<% @categories.each do |category| %>
<div class="category">
    <!-- printing the category name as title  -->
    <a href="<%= category_path(category.id) %>"><h1><%= category.name %></h1></a>
      <!-- select the products that include the current category -->
    <% products_of_category = @products.select{|product| product.categories.include? category}
      # itinerating over each product of the current category
    products_of_category.each do |product| %>
    <a href="product_path(product.id)">
      <div class="product">
            <!-- printing the name of each product -->
        <h1><%= product.name %></h1>

      </div>
    </a>
    <% end %>
</div>
<% end %>
