<div class="category">
    <h1><%= @category.name %></h1>
    <% products_of_category = @products.select{|product| product.categories.include? @category}
  products_of_category.each do |product| %>
    <a href="product_path(product.id)">
        <div class="product">
            <!-- printing the name of each product -->
            <h1><%= product.name %></h1>

        </div>
    </a>
    <% end %>
</div>
