<h1><%= @product.name %></h1>
<h2>Price: € <%= @product.price %></h2>
<h3>Find more in:</h3>
<ul>
    <% @product.categories.each do |category| %>
        <li>
            <%= link_to category.name, category %>
        </li>
    <% end %>

</ul>
